.favourites{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    position: relative;

    li{
        list-style: none;
    }
    .topGallery{
        display: flex;
        animation: $topgallery;
        margin-top: 3%;
        white-space: nowrap;
        overflow: hidden;
    }
    .bottomGallery{
        display: flex;
        animation: $bottomgallery;
        margin-top: 20px;
        white-space: nowrap;
        overflow: hidden;
    }
    .imageContainer{
        border-radius: 20%;
        overflow: hidden;
        margin: 0 20px;
    }
    img{
        width: 25vw;
    }
}