// TODO: add circles on header
// change logo
// add scrolling nav function
// change some stuff to php
// have hambrugermenu work
// fix scrolling images making the screen wider
// add media querys


@font-face {
    font-family: headerFont;
    src: url(../../assets/Fonts/Righteous/Righteous-Regular.ttf);
}

@font-face {
    font-family: pFont;
    src: url(../../assets/Fonts/Raleway/Raleway-VariableFont_wght.ttf);
}

h1,
h2,
h3,
h4{
    font-family: headerFont;
}

p,
h5{
    font-family: Pfont;
}

.flexBox{
    display: flex;
}

h3{
    font-size: 2.1rem;
    color: $siteOrange;
    font-weight: 400;
    margin: 0;
    height: 90px;
}
h2{
    font-size: 6rem;
    margin: 0 auto;
    font-weight: 500;
}

h2,
h3{
    line-height: 100px;
}
h2,
h3,
h4,
h5{
    text-transform: uppercase;
}
h5{
    font-size: 1.8rem;
    color: $siteOrange;
    font-weight: 500;
}

.wrapper{
    width: 45%;
}
h3::after{
    content: "";
    position: absolute;
    height: 2.5px;
    background-color: $siteOrange;
    width: 150px;
    margin-left: 25px;
    top: 2.5%;
}
button{
    width: 250px;
    font-size: 1.5rem;
    background-color: white;
    box-shadow: 6px 6px $siteOrange;
    margin-top: 50px;
    border: 1px solid $siteOrange;
    padding: 20px;
    color: $siteOrange;
    text-transform: uppercase;
    font-family: pFont;
    font-weight: 800;
    border-radius: 40px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

button:hover,
button:focus{
    transform: translateX(10px);
    box-shadow: 2px 2px $siteOrange;;
}

button:active {
    border: lightblue solid 5px;
    box-shadow: none;
}

body{
    background-color: #fdf2e5;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    p{
        font-size: 0.8rem;
        font-weight: 500;
    }
}
// *{
//     border: solid red 2px;
// }