// TODO: add circle on header srounf ghost and change logo

header{
    position: relative;

    ul{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        height: 25vh;

        img{
            width: 80px;
        }
    }
    li{
        list-style: none;
    }
    i{
        color: black;
    }
    nav{
        background-image: url(../../../assets/images/banner-gradient.png);
    }
    .banner{
        display: flex;
        justify-content: center;
        align-items: center;

        .mainGhost{
            position: relative;
        }

        .bannerWhiteStar{
            right: 0;
            background: none;
        }

        .bannerMainImgs{
            position: relative;
        }
        .mainGhost{
            animation: $jump;
        }
        
        .bannerContent{
            margin-right: 90px;
            margin-top: 100px;
            z-index: 10;
        }
        .collectBanner{
            margin-left: 180px;
            background: none;
        }
        .collectBanner::before{
            content: "";
            display: block;
            width: 140px;
            height: 4px;
            background: $siteOrange;
            left: 28.5%;
            top: 68%;
            position: absolute;
        }
        button{
            width: 250px;
            font-size: 1.5rem;
            background-color: white;
            box-shadow: 6px 6px $siteOrange;
            margin-top: 50px;
            border: 1px solid $siteOrange;
            padding: 20px;
            color: $siteOrange;
            text-transform: uppercase;
            font-family: pFont;
            font-weight: 800;
            border-radius: 40px;
        }
    }
    h1{
        font-size: 8.4rem;
        margin: 0 auto;
        line-height: 130px;
        text-transform: uppercase;
        font-weight: 100;
    }
    p{
        font-size: 1.9rem;
        margin: 0 auto;
        font-weight: 500;
    }

    .airplanePerson,
    .chatPerson,
    .bannerLine,
    .blurredGhostImg1,
    .blurredGhostImg2{
        position: absolute;
        animation: $jump;
    }

    .bannerBlackStar,
    .bannerWhiteStar,
    .bannerOrangeStar{
        animation: $sparkle;
        position: absolute;
    }

    .airplanePerson{
        top: 67%;
        left: 320px;
        width: 25%;
    }
    .chatPerson{
        top: 78%;
        right: 15%;
    }
    .blurredGhostImg1{
        top: 20%;
        left: 44%;
        z-index: 20;
    }
    .blurredGhostImg2{
        bottom: -10%;
        left: 48%;
        z-index: 20;
    }
    .bannerLine{
        left: 20%;
        top: 37%;
    }
    .bannerBlackStar{
        background: none;
        width: 19px;
        bottom: -20%;
        left: 54%;
        z-index: 30;
    }
    .bannerOrangeStar{
        background: none;
        top: 43%;
        right: 22%;
        width: 14px;
    }
}