header{
    position: relative;

    ul{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        height: 25vh;

        img{
            max-width: 180px;
            filter: brightness(0%);
        }
    }
    li{
        list-style: none;
    }
    i{
        color: black;
    }
    .banner{
        display: flex;
        justify-content: center;
        align-items: center;

        .mainGhost{
            position: relative;
        }

        .bannerWhiteStar{
            right: 0;
            background: none;
        }

        .bannerMainImgs{
            position: relative;
        }
        .mainGhost{
            animation: $jump;
        }
        
        .bannerContent{
            margin-right: 90px;
            margin-top: 100px;
            z-index: 10;
        }
        .collectBanner{
            margin-left: 180px;
            background: none;
        }
        .collectBanner::before{
            content: "";
            display: block;
            width: 140px;
            height: 4px;
            background: $siteOrange;
            left: 720px;
            top: 630px;
            position: absolute;
        }
    }
    h1{
        font-size: 8.4rem;
        margin: 0 auto;
        line-height: 130px;
        text-transform: uppercase;
        font-weight: 100;
    }
    p{
        font-size: 1.9rem;
        margin: 0 auto;
        font-weight: 500;
    }

    .airplanePerson,
    .chatPerson,
    .bannerLine,
    .blurredGhostImg1,
    .blurredGhostImg2{
        position: absolute;
        animation: $jump;
    }

    .bannerBlackStar,
    .bannerWhiteStar,
    .bannerOrangeStar{
        animation: $sparkle;
        position: absolute;
    }

    .airplanePerson{
        top: 67%;
        left: calc(((100vw - 1000px) / 2) - 350px);
        max-width: 25%;
    }
    .chatPerson{
        top: 78%;
        left: calc(((100vw - 1000px) / 2) + 1100px);
        max-width: 25%;
    }
    .blurredGhostImg1{
        top: 20%;
        left: 44%;
        z-index: 20;
    }
    .blurredGhostImg2{
        bottom: -10%;
        left: 48%;
        z-index: 20;
    }
    .bannerLine{
        left: 20%;
        top: 37%;
    }
    .bannerBlackStar{
        background: none;
        width: 19px;
        bottom: -20%;
        left: 54%;
        z-index: 30;
    }
    .bannerOrangeStar{
        background: none;
        top: 43%;
        right: 22%;
        width: 14px;
    }
    .bannerCircleOne,
    .bannerCircleTwo,
    .bannerCircleThree{
        border-radius: 50%;
        border: 1px solid #e8dcb5;
        position: absolute;
        left: 50%;
        top: 50%;
        z-index: -1;
    }
    .bannerCircleOne{
        min-width: 23%;
        height: 58%;
        transform: translate(25%, -18%);
    }
    .bannerCircleTwo{
        transform: translate(1%, -28%);
        min-width: 36%;
        height: 85%;
    }
    .bannerCircleThree{
        transform: translate(-15%, -35%);
        min-width: 50%;
        height: 120%;
    }
}