@media (max-width: 1300px) {
    .wrapper{
        width: 60%;
    }
    h2{
        font-size: 4rem;
        line-height: 80px;
    }
    header{
        h1{
            font-size: 5rem;
            line-height: 80px;
        }
        h2{
            font-size: 1rem;
        }
        .bannerLine{
            left: 10%;
            top: 30%;
        }
        .mainGhost{
            width: 60%;
        }
        .blurredGhostImg1{
            top: 15%;
            left: 44%;
            width: 10%;
        }
        .blurredGhostImg2{
            width: 15%;
        }
        .bannerCircleOne{
            width: 23%;
            height: 40%;
            transform: translate(38%, -18%);
        }
        .bannerCircleTwo{
            transform: translate(6%, -30%);
            width: 36%;
            height: 65%;
        }
        .bannerCircleThree{
            transform: translate(-10%, -35%);
            width: 50%;
            height: 90%;
        }
        .bannerBlackStar{
            bottom: 20%;
        }
        .bannerOrangeStar{
            top: 20%;
        }
        .airplanePerson{
            left: 0;
        }
        .chatPerson{
            left: 80%;
            width: 15%;
        }
    }

    .about{
        p{
            font-size: 1.5rem;
        }
    }

    .roadmap{
        .phaseOne{
            flex-direction: column-reverse;
        }
        .phaseTwo{
            flex-direction: column;
        }
        .phaseOneLeft,
        .phaseOneRight,
        .phaseTwoRight,
        .phaseTwoLeft{
            width: 100%;
        }
        .roadmapArrow{
            top: 16%;
            left: 70%;
        }
        .phaseOneLeft{
            margin-bottom: 50px;
        }
        .phaseTwoRight{
            margin-bottom: 50px;
        }
        .phaseOneRight{
            height: 70vh;
        }
        .holdingPhone{
            width: 60%;
        }
        .phaseTwoLeft{
            height: 70vh;
        }
        .phaseTwoPerson{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .phaseTwoPerson{
            width: 40%;
        }
    }

    .community{
        margin-top: 250px;
        .communityCircleOne{
            width: 60%;
            height: 70%;
        }
        .communityCircleTwo{
            width: 100%;
            height: 115%;
        }
        .communityCircleThree{
            width: 120%;
            height: 135%;
        }
        .wrapper::before{
            width: 80%;
            height: 90%;
        }
        .communityPersonOne{
            top: 13%;
            left: 10%;
        }
        .communityPersonTwo{
            top: -19%;
            left: 35%;
        }
        .communityPersonThree{
            top: 9%;
            right: 0%;
        }
        .communityPersonFour{
            bottom: 1%;
            left: 10%;
        }
        .communityPersonFive{
            bottom: -5%;
            right: 10%;
        }
        .communityLine{
            bottom: -20%;
        }
    }
    
    .faq{
        .questionsDiv{
            margin-left: 300px;
            p{
                font-size: 1.3rem;
            }
        }
    }
    
    .media{
        p{
            font-size: 1.3rem;
        }
    }
}

@media (max-width: 1135px) {
    header{
        .bannerCircleOne{
            width: 23%;
            height: 40%;
            transform: translate(47%, -18%);
        }
        .bannerCircleTwo{
            transform: translate(13%, -30%);
            width: 36%;
            height: 65%;
        }
        .bannerCircleThree{
            transform: translate(-5%, -35%);
            width: 50%;
            height: 90%;
        }
        .airplanePerson{
            top: 80%;
            left: -2%;
        }
    }
}

@media (max-width: 960px) {
    .wrapper{
        width: 80%;
    }
    header{
        .bannerCircleOne{
            width: 30%;
            height: 40%;
            transform: translate(38%, -18%);
        }
        .bannerCircleTwo{
            transform: translate(3%, -30%);
            width: 50%;
            height: 65%;
        }
        .bannerCircleThree{
            transform: translate(-15%, -35%);
            width: 70%;
            height: 90%;
        }
        .airplanePerson{
            top: 80%;
            left: -255%;
        }
    }

    .media{
        margin-top: 100px;
    }
}

@media (max-width: 760px) {
    .wrapper{
        width: 95%;
    }
    header{
        .banner{
            flex-direction: row;
            flex-wrap: wrap;

            .mainGhost{
                top: 0;
                right: 0;
                left: 0;
                bottom: 0;
            }
        }
        .blurredGhostImg1{
            top: 85%;
            left: 10%;
        }
        .blurredGhostImg2{
            left: 10333333333%;
        }
        .bannerOrangeStar{
            top: 70%;
            right: 40%;
        }
        .bannerWhiteStar{
            left: 50%;
        }
        .bannerBlackStar{
            top: 100%;
            left: 20%;
        }
        .bannerCircleOne{
            width: 40%;
            height: 30%;
            transform: translate(-70%, 85%);
        }
        .bannerCircleTwo{
            transform: translate(-65%, 30%);
            width: 65%;
            height: 50%;
        }
        .bannerCircleThree{
            transform: translate(-60%, 10%);
            width: 90%;
            height: 70%;
        }
        .chatPerson{
            width: 50%;
        }
    }
    .roadmap{
        .phaseOneRight,
        .phaseTwoLeft{
            height: 30vh;
            width: 90%;
        }
        .phaseTwoPerson{
            width: 250px;
        }
        .roadmapArrow{
            left: 11111%;
        }
    }

    .faq{
        .questionsDiv{
            margin-left: 0;
        }
        .faqBlackStar{
            top: 40%;
        }
        .faqOrangeStar{
            width: 30px;
        }
        .faqLine{
            bottom: -10%;
        }
    }
    .about{
        .aboutOrangeStar{
            top: -110%;
            right: -250%;
        }
        .flexBox{
            flex-direction: column;
        }
        .aboutWhiteStar{
            position: absolute;
            right: 0;
        }
    }

    .community{
        margin: 0;

        .wrapper::before{
            width: 0%;
            height: 0%;
        }
        .communityCircleOne{
            width: 60%;
            height: 40%;
        }
        .communityCircleTwo{
            width: 90%;
            height: 60%;
        }
        .communityCircleThree{
            width: 120%;
            height: 80%;
        }
        .communityPersonOne{
            top: 13%;
            left: 10%;
        }
        .communityPersonThree{
            top: 70%;
            right: 0%;
        }
        .communityPersonFour{
            bottom: 15%;
            left: 10%;
        }
        .communityPersonTwo{
            left: 30005%;
        }
        .communityPersonFive{
            right: 100000%;
        }
        .communityOrangeStar{
            top: 0;
        }
    }

    .media{
        .logos{
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        img{
            position: absolute;
            top: 15%;
            right: 8%;
        }
    }
}