@media (max-width: 2269px) {
    header{
        // .blurredGhostImg1{
        //     top: 20%;
        //     left: 44%;
        //     z-index: 20;
        // }
        // .blurredGhostImg2{
        //     bottom: -10%;
        //     left: 48%;
        //     z-index: 20;
        // }
        // .bannerLine{
        //     left: 20%;
        //     top: 37%;
        // }
        // .bannerBlackStar{
        //     background: none;
        //     width: 19px;
        //     bottom: -20%;
        //     left: 54%;
        //     z-index: 30;
        // }
        // .bannerOrangeStar{
        //     background: none;
        //     top: 43%;
        //     right: 22%;
        //     width: 14px;
        // }
        // .airplanePerson{
        //     top: 67%;
        //     left: 320px;
        //     max-width: 25%;
        // }
        // .chatPerson{
        //     top: 78%;
        //     right: 15%;
        // }
        .banner{
            .collectBanner::before{
                content: "";
                display: block;
                width: 140px;
                height: 4px;
                background: $siteOrange;
                left: 15px;
                top: 68%;
                position: absolute;
            }
        }
        .bannerCircleOne{
            width: 23%;
            height: 58%;
            transform: translate(25%, -18%);
        }
        .bannerCircleTwo{
            transform: translate(1%, -28%);
            width: 36%;
            height: 85%;
        }
        .bannerCircleThree{
            transform: translate(-15%, -35%);
            width: 50%;
            height: 120%;
        }
    }
}