.roadmap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    position: relative;

    .roadmapBlackStar,
    .roadmapArrow{
        position: absolute;
    }
    .roadmapBlackStar{
        top: 0;
        right: 38%;
    }
    .roadmapArrow{
        top: 22%;
        left: 35%;
    }
    .phaseOne,
    .phaseTwo{
        padding-top: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .phaseOneLeft{
        padding-right: 80px;
        width: 40%;
    }
    .phaseOneRight{
        background-color: #ffe1cb;
        position: relative;
        border-radius: 100px;
        max-height: 580px;
    }
    h5,
    h4{
        text-transform: capitalize;
        margin: 0;
        padding: 0;
    }
    h4{
        font-size: 4rem;
        font-weight: 400;
        padding-top: 20px;
    }
    p{
        font-size: 1.1rem;
    }
    .phaseOneWhiteStar,
    .phaseOneBlackStar,
    .phaseTwoWhiteStar,
    .phaseTwoOrangeStar{
        position: absolute;
        animation: $sparkle;
    }
    .holdingPhone{
        padding: 50px;
        animation: $phaseOneJump;
        transform: translateY(100px);
    }
    .phaseOneWhiteStar{
        top: 10%;
        right: 8%;
        width: 60px;
    }
    .phaseOneBlackStar{
        width: 15px;
    }
    .phaseTwo{
        margin-top: 50px;
    }
    .phaseTwoLeft{
        background-color: #f2d8b1;
        position: relative;
        border-radius: 100px;
        width: 50%;
        max-height: 580px;
    }
    .phaseTwoRight{
        padding-left: 80px;
        width: 40%;
        position: relative;
    }
    .phaseTwoPerson{
        padding: 50px;
        animation :$phaseTwoJump;
        margin: 0 auto;
        transform: translateY(-100px);
    }
    .phaseLine{
        position: absolute;
        bottom: 0;
        right: 10%;
    }
    .phaseTwoWhiteStar{
        top: 15%;
        right: 8%;
        width: 60px;
    }
    .phaseTwoOrangeStar{
        top: 0;
        right: -10%;
        width: 20px;
    }
}