html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

header {
  position: relative;
}
header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 25vh;
}
header ul img {
  width: 80px;
}
header li {
  list-style: none;
}
header i {
  color: black;
}
header .banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .banner .mainGhost {
  position: relative;
}
header .banner .bannerWhiteStar {
  right: 0;
  background: none;
}
header .banner .bannerMainImgs {
  position: relative;
}
header .banner .mainGhost {
  -webkit-animation: jump 2.5s infinite;
          animation: jump 2.5s infinite;
}
header .banner .bannerContent {
  margin-right: 90px;
  margin-top: 100px;
  z-index: 10;
}
header .banner .collectBanner {
  margin-left: 180px;
  background: none;
}
header .banner .collectBanner::before {
  content: "";
  display: block;
  width: 140px;
  height: 4px;
  background: #f77b21;
  left: 28.5%;
  top: 68%;
  position: absolute;
}
header .banner button {
  width: 250px;
  font-size: 1.5rem;
  background-color: white;
  -webkit-box-shadow: 6px 6px #f77b21;
          box-shadow: 6px 6px #f77b21;
  margin-top: 50px;
  border: 1px solid #f77b21;
  padding: 20px;
  color: #f77b21;
  text-transform: uppercase;
  font-family: pFont;
  font-weight: 800;
  border-radius: 40px;
}
header h1 {
  font-size: 8.4rem;
  margin: 0 auto;
  line-height: 130px;
  text-transform: uppercase;
  font-weight: 100;
}
header p {
  font-size: 1.9rem;
  margin: 0 auto;
  font-weight: 500;
}
header .airplanePerson,
header .chatPerson,
header .bannerLine,
header .blurredGhostImg1,
header .blurredGhostImg2 {
  position: absolute;
  -webkit-animation: jump 2.5s infinite;
          animation: jump 2.5s infinite;
}
header .bannerBlackStar,
header .bannerWhiteStar,
header .bannerOrangeStar {
  -webkit-animation: sparkle 1.5s infinite ease-in-out;
          animation: sparkle 1.5s infinite ease-in-out;
  position: absolute;
}
header .airplanePerson {
  top: 67%;
  left: 320px;
  width: 25%;
}
header .chatPerson {
  top: 78%;
  right: 15%;
}
header .blurredGhostImg1 {
  top: 20%;
  left: 44%;
  z-index: 20;
}
header .blurredGhostImg2 {
  bottom: -10%;
  left: 48%;
  z-index: 20;
}
header .bannerLine {
  left: 20%;
  top: 37%;
}
header .bannerBlackStar {
  background: none;
  width: 19px;
  bottom: -20%;
  left: 54%;
  z-index: 30;
}
header .bannerOrangeStar {
  background: none;
  top: 43%;
  right: 22%;
  width: 14px;
}

@-webkit-keyframes jump {
  0% {
    transfrom: translateY(0);
  }
  50% {
    -webkit-transform: translateY(5%);
            transform: translateY(5%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes jump {
  0% {
    transfrom: translateY(0);
  }
  50% {
    -webkit-transform: translateY(5%);
            transform: translateY(5%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@-webkit-keyframes sparkle {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes sparkle {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes topGallery {
  0% {
    -webkit-transform: translateX(18%);
            transform: translateX(18%);
  }
  50% {
    -webkit-transform: translateX(-19%);
            transform: translateX(-19%);
  }
  100% {
    -webkit-transform: translateX(18%);
            transform: translateX(18%);
  }
}
@keyframes topGallery {
  0% {
    -webkit-transform: translateX(18%);
            transform: translateX(18%);
  }
  50% {
    -webkit-transform: translateX(-19%);
            transform: translateX(-19%);
  }
  100% {
    -webkit-transform: translateX(18%);
            transform: translateX(18%);
  }
}
@-webkit-keyframes bottomGallery {
  0% {
    -webkit-transform: translateX(-19%);
            transform: translateX(-19%);
  }
  50% {
    -webkit-transform: translateX(18%);
            transform: translateX(18%);
  }
  100% {
    -webkit-transform: translateX(-19%);
            transform: translateX(-19%);
  }
}
@keyframes bottomGallery {
  0% {
    -webkit-transform: translateX(-19%);
            transform: translateX(-19%);
  }
  50% {
    -webkit-transform: translateX(18%);
            transform: translateX(18%);
  }
  100% {
    -webkit-transform: translateX(-19%);
            transform: translateX(-19%);
  }
}
@font-face {
  font-family: headerFont;
  src: url(../../assets/Fonts/Righteous/Righteous-Regular.ttf);
}
@font-face {
  font-family: pFont;
  src: url(../../assets/Fonts/Raleway/Raleway-VariableFont_wght.ttf);
}
h1,
h2,
h3,
h4 {
  font-family: headerFont;
}

p,
h5 {
  font-family: Pfont;
}

.flexBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

h3 {
  font-size: 2.1rem;
  color: #f77b21;
  font-weight: 400;
  margin: 0;
  height: 90px;
}

h2 {
  font-size: 6rem;
  margin: 0 auto;
  font-weight: 500;
}

h2,
h3 {
  line-height: 100px;
}

h2,
h3,
h4,
h5 {
  text-transform: uppercase;
}

h5 {
  font-size: 1.8rem;
  color: #f77b21;
  font-weight: 500;
}

.wrapper {
  width: 45%;
}

h3::after {
  content: "";
  position: absolute;
  height: 2.5px;
  background-color: #f77b21;
  width: 150px;
  margin-left: 25px;
  top: 2.5%;
}

* {
  background-color: #fdf2e5;
}

.about {
  margin-top: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: start;
  position: relative;
}
.about h3::after {
  content: "";
  position: absolute;
  height: 2.5px;
  background-color: #f77b21;
  width: 150px;
  margin-left: 25px;
  top: 7.3%;
}
.about .aboutOrangeStar {
  position: absolute;
}
.about .flexBox {
  line-height: normal;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.about .aboutImgs {
  width: 95%;
  position: relative;
}
.about .paragraph {
  font-size: 1.6rem;
  font-weight: 600;
}
.about .aboutOrangeStar,
.about .aboutWhiteStar,
.about .aboutBlackStar,
.about .aboutArrow {
  position: absolute;
}
.about .aboutWhiteStar,
.about .aboutBlackStar {
  -webkit-animation: jump 2.5s infinite;
          animation: jump 2.5s infinite;
}
.about .aboutArrow {
  top: 70%;
  left: 40%;
}
.about .aboutOrangeStar {
  top: -150%;
  right: -145%;
}
.about .aboutWhiteStar {
  top: 30%;
}
.about .aboutBlackStar {
  top: 85%;
  left: -10%;
}

.favourites {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 200px;
  position: relative;
}
.favourites li {
  list-style: none;
}
.favourites .topGallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: topGallery 15s infinite ease-in-out;
          animation: topGallery 15s infinite ease-in-out;
  margin-top: 3%;
  white-space: nowrap;
}
.favourites .bottomGallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: bottomGallery 15s infinite ease-in-out;
          animation: bottomGallery 15s infinite ease-in-out;
  margin-top: 20px;
  white-space: nowrap;
}
.favourites .imageContainer {
  border-radius: 20%;
  overflow: hidden;
  margin: 0 20px;
}
.favourites img {
  width: 25vw;
}

.roadmap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5%;
  position: relative;
}
.roadmap .roadmapBlackStar,
.roadmap .roadmapArrow {
  position: absolute;
}
.roadmap .roadmapBlackStar {
  top: 0;
  right: 38%;
}
.roadmap .roadmapArrow {
  background: none;
  top: 22%;
  left: 35%;
}
.roadmap .phaseOne,
.roadmap .phaseTwo {
  padding-top: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.roadmap .phaseOneLeft {
  padding-right: 80px;
  width: 40%;
}
.roadmap .phaseOneRight {
  background-color: #ffe1cb;
  position: relative;
  border-radius: 100px;
}
.roadmap h5,
.roadmap h4 {
  text-transform: capitalize;
  margin: 0;
  padding: 0;
}
.roadmap h4 {
  font-size: 4rem;
  font-weight: 400;
  padding-top: 20px;
}
.roadmap p {
  font-size: 1.1rem;
}
.roadmap .phaseOneWhiteStar,
.roadmap .phaseOneBlackStar {
  position: absolute;
  -webkit-animation: sparkle 1.5s infinite ease-in-out;
          animation: sparkle 1.5s infinite ease-in-out;
}
.roadmap .holdingPhone {
  background: none;
  padding: 50px;
  -webkit-animation: jump 2.5s infinite;
          animation: jump 2.5s infinite;
}
.roadmap .phaseOneWhiteStar {
  top: 10%;
  right: 8%;
  background: none;
  width: 60px;
}
.roadmap .phaseOneBlackStar {
  width: 15px;
}