html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

header {
  position: relative;
}
header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 25vh;
}
header ul img {
  max-width: 180px;
  -webkit-filter: brightness(0%);
          filter: brightness(0%);
}
header li {
  list-style: none;
}
header i {
  color: black;
}
header .banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .banner .bannerWhiteStar {
  right: 0;
  background: none;
}
header .banner .bannerMainImgs {
  position: relative;
}
header .banner .mainGhost {
  -webkit-animation: jump 2.5s infinite;
          animation: jump 2.5s infinite;
}
header .banner .bannerContent {
  margin-right: 90px;
  margin-top: 100px;
  z-index: 10;
}
header .banner .collectBanner {
  margin-left: 180px;
  background: none;
}
header .banner .collectBanner::before {
  content: "";
  display: block;
  width: 140px;
  height: 4px;
  background: #f77b21;
  left: 720px;
  top: 630px;
  position: absolute;
}
header h1 {
  font-size: 8.4rem;
  margin: 0 auto;
  line-height: 130px;
  text-transform: uppercase;
  font-weight: 100;
}
header p {
  font-size: 1.9rem;
  margin: 0 auto;
  font-weight: 500;
}
header .airplanePerson,
header .chatPerson,
header .bannerLine,
header .blurredGhostImg1,
header .blurredGhostImg2 {
  position: absolute;
  -webkit-animation: jump 2.5s infinite;
          animation: jump 2.5s infinite;
}
header .bannerBlackStar,
header .bannerWhiteStar,
header .bannerOrangeStar {
  -webkit-animation: sparkle 1.5s infinite ease-in-out;
          animation: sparkle 1.5s infinite ease-in-out;
  position: absolute;
}
header .airplanePerson {
  top: 67%;
  left: calc((100vw - 1000px) / 2 - 350px);
  max-width: 25%;
}
header .chatPerson {
  top: 78%;
  left: calc((100vw - 1000px) / 2 + 1100px);
  max-width: 25%;
}
header .blurredGhostImg1 {
  top: 20%;
  left: 44%;
  z-index: 20;
}
header .blurredGhostImg2 {
  bottom: -10%;
  left: 48%;
  z-index: 20;
}
header .bannerLine {
  left: 20%;
  top: 37%;
}
header .bannerBlackStar {
  background: none;
  width: 19px;
  bottom: -20%;
  left: 54%;
  z-index: 30;
}
header .bannerOrangeStar {
  background: none;
  top: 43%;
  right: 22%;
  width: 14px;
}
header .bannerCircleOne,
header .bannerCircleTwo,
header .bannerCircleThree {
  border-radius: 50%;
  border: 1px solid #e8dcb5;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: -1;
}
header .bannerCircleOne {
  min-width: 23%;
  height: 58%;
  -webkit-transform: translate(25%, -18%);
          transform: translate(25%, -18%);
}
header .bannerCircleTwo {
  -webkit-transform: translate(1%, -28%);
          transform: translate(1%, -28%);
  min-width: 36%;
  height: 85%;
}
header .bannerCircleThree {
  -webkit-transform: translate(-15%, -35%);
          transform: translate(-15%, -35%);
  min-width: 50%;
  height: 120%;
}

@-webkit-keyframes jump {
  0% {
    transfrom: translateY(0);
  }
  50% {
    -webkit-transform: translateY(5%);
            transform: translateY(5%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes jump {
  0% {
    transfrom: translateY(0);
  }
  50% {
    -webkit-transform: translateY(5%);
            transform: translateY(5%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@-webkit-keyframes slideBarJump {
  0% {
    bottom: 20%;
  }
  50% {
    bottom: 22%;
  }
  100% {
    bottom: 20%;
  }
}
@keyframes slideBarJump {
  0% {
    bottom: 20%;
  }
  50% {
    bottom: 22%;
  }
  100% {
    bottom: 20%;
  }
}
@-webkit-keyframes phaseTwoJump {
  0% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
  50% {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
  100% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
}
@keyframes phaseTwoJump {
  0% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
  50% {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
  100% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
}
@-webkit-keyframes phaseOneJump {
  0% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  50% {
    -webkit-transform: translateY(20%);
            transform: translateY(20%);
  }
  100% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
}
@keyframes phaseOneJump {
  0% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  50% {
    -webkit-transform: translateY(20%);
            transform: translateY(20%);
  }
  100% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
}
@-webkit-keyframes sparkle {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes sparkle {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes topGallery {
  0% {
    -webkit-transform: translateX(18%);
            transform: translateX(18%);
  }
  50% {
    -webkit-transform: translateX(-19%);
            transform: translateX(-19%);
  }
  100% {
    -webkit-transform: translateX(18%);
            transform: translateX(18%);
  }
}
@keyframes topGallery {
  0% {
    -webkit-transform: translateX(18%);
            transform: translateX(18%);
  }
  50% {
    -webkit-transform: translateX(-19%);
            transform: translateX(-19%);
  }
  100% {
    -webkit-transform: translateX(18%);
            transform: translateX(18%);
  }
}
@-webkit-keyframes bottomGallery {
  0% {
    -webkit-transform: translateX(-19%);
            transform: translateX(-19%);
  }
  50% {
    -webkit-transform: translateX(18%);
            transform: translateX(18%);
  }
  100% {
    -webkit-transform: translateX(-19%);
            transform: translateX(-19%);
  }
}
@keyframes bottomGallery {
  0% {
    -webkit-transform: translateX(-19%);
            transform: translateX(-19%);
  }
  50% {
    -webkit-transform: translateX(18%);
            transform: translateX(18%);
  }
  100% {
    -webkit-transform: translateX(-19%);
            transform: translateX(-19%);
  }
}
@font-face {
  font-family: headerFont;
  src: url(../../assets/Fonts/Righteous/Righteous-Regular.ttf);
}
@font-face {
  font-family: pFont;
  src: url(../../assets/Fonts/Raleway/Raleway-VariableFont_wght.ttf);
}
h1,
h2,
h3,
h4 {
  font-family: headerFont;
}

p,
h5 {
  font-family: Pfont;
}

.flexBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

h3 {
  font-size: 2.1rem;
  color: #f77b21;
  font-weight: 400;
  margin: 0;
  height: 90px;
}

h2 {
  font-size: 6rem;
  margin: 0 auto;
  font-weight: 500;
}

h2,
h3 {
  line-height: 100px;
}

h2,
h3,
h4,
h5 {
  text-transform: uppercase;
}

h5 {
  font-size: 1.8rem;
  color: #f77b21;
  font-weight: 500;
}

.wrapper {
  width: 45%;
}

h3::after {
  content: "";
  position: absolute;
  height: 2.5px;
  background-color: #f77b21;
  width: 150px;
  margin-left: 25px;
  top: 2.5%;
}

button {
  width: 250px;
  font-size: 1.5rem;
  background-color: white;
  -webkit-box-shadow: 6px 6px #f77b21;
          box-shadow: 6px 6px #f77b21;
  margin-top: 50px;
  border: 1px solid #f77b21;
  padding: 20px;
  color: #f77b21;
  text-transform: uppercase;
  font-family: pFont;
  font-weight: 800;
  border-radius: 40px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

button:hover,
button:focus {
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
  -webkit-box-shadow: 2px 2px #f77b21;
          box-shadow: 2px 2px #f77b21;
}

button:active {
  border: lightblue solid 5px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

body {
  background-color: #fdf2e5;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 100px;
}
footer p {
  font-size: 0.8rem;
  font-weight: 500;
}

.about {
  margin-top: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: start;
  position: relative;
}
.about h3::after {
  content: "";
  position: absolute;
  height: 2.5px;
  background-color: #f77b21;
  width: 150px;
  margin-left: 25px;
  top: 7.3%;
}
.about .aboutOrangeStar {
  position: absolute;
}
.about .flexBox {
  line-height: normal;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.about .aboutImgs {
  width: 95%;
  position: relative;
}
.about .paragraph {
  font-size: 1.6rem;
  font-weight: 600;
}
.about .aboutOrangeStar,
.about .aboutWhiteStar,
.about .aboutBlackStar,
.about .aboutArrow {
  position: absolute;
}
.about .aboutWhiteStar,
.about .aboutBlackStar {
  -webkit-animation: jump 2.5s infinite;
          animation: jump 2.5s infinite;
}
.about .aboutArrow {
  top: 70%;
  left: 40%;
}
.about .aboutOrangeStar {
  top: -150%;
  right: -145%;
}
.about .aboutWhiteStar {
  top: 30%;
}
.about .aboutBlackStar {
  top: 85%;
  left: -10%;
}

.favourites {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 200px;
  position: relative;
}
.favourites li {
  list-style: none;
}
.favourites .topGallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: topGallery 15s infinite ease-in-out;
          animation: topGallery 15s infinite ease-in-out;
  margin-top: 3%;
  white-space: nowrap;
  overflow: hidden;
}
.favourites .bottomGallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: bottomGallery 15s infinite ease-in-out;
          animation: bottomGallery 15s infinite ease-in-out;
  margin-top: 20px;
  white-space: nowrap;
  overflow: hidden;
}
.favourites .imageContainer {
  border-radius: 20%;
  overflow: hidden;
  margin: 0 20px;
}
.favourites img {
  width: 25vw;
}

.roadmap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5%;
  position: relative;
}
.roadmap .roadmapBlackStar,
.roadmap .roadmapArrow {
  position: absolute;
}
.roadmap .roadmapBlackStar {
  top: 0;
  right: 38%;
}
.roadmap .roadmapArrow {
  top: 22%;
  left: 35%;
}
.roadmap .phaseOne,
.roadmap .phaseTwo {
  padding-top: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.roadmap .phaseOneLeft {
  padding-right: 80px;
  width: 40%;
}
.roadmap .phaseOneRight {
  background-color: #ffe1cb;
  position: relative;
  border-radius: 100px;
  max-height: 580px;
}
.roadmap h5,
.roadmap h4 {
  text-transform: capitalize;
  margin: 0;
  padding: 0;
}
.roadmap h4 {
  font-size: 4rem;
  font-weight: 400;
  padding-top: 20px;
}
.roadmap p {
  font-size: 1.1rem;
}
.roadmap .phaseOneWhiteStar,
.roadmap .phaseOneBlackStar,
.roadmap .phaseTwoWhiteStar,
.roadmap .phaseTwoOrangeStar {
  position: absolute;
  -webkit-animation: sparkle 1.5s infinite ease-in-out;
          animation: sparkle 1.5s infinite ease-in-out;
}
.roadmap .holdingPhone {
  padding: 50px;
  -webkit-animation: phaseOneJump 2.5s infinite;
          animation: phaseOneJump 2.5s infinite;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
}
.roadmap .phaseOneWhiteStar {
  top: 10%;
  right: 8%;
  width: 60px;
}
.roadmap .phaseOneBlackStar {
  width: 15px;
}
.roadmap .phaseTwo {
  margin-top: 50px;
}
.roadmap .phaseTwoLeft {
  background-color: #f2d8b1;
  position: relative;
  border-radius: 100px;
  width: 50%;
  max-height: 580px;
}
.roadmap .phaseTwoRight {
  padding-left: 80px;
  width: 40%;
  position: relative;
}
.roadmap .phaseTwoPerson {
  padding: 50px;
  -webkit-animation: phaseTwoJump 2.5s infinite;
          animation: phaseTwoJump 2.5s infinite;
  margin: 0 auto;
  -webkit-transform: translateY(-100px);
          transform: translateY(-100px);
}
.roadmap .phaseLine {
  position: absolute;
  bottom: 0;
  right: 10%;
}
.roadmap .phaseTwoWhiteStar {
  top: 15%;
  right: 8%;
  width: 60px;
}
.roadmap .phaseTwoOrangeStar {
  top: 0;
  right: -10%;
  width: 20px;
}

.community {
  margin-top: 10%;
  position: relative;
}
.community .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  text-align: center;
  position: relative;
  height: 100vh;
}
.community .wrapper::before,
.community .communityCircleOne,
.community .communityCircleTwo,
.community .communityCircleThree {
  border-radius: 50%;
  border: 1px solid #e8dcb5;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -1;
}
.community .wrapper::before {
  content: "";
  width: 75%;
  height: 65%;
}
.community h3::after {
  top: 34%;
  width: 100px;
}
.community h3 {
  text-align: start;
  margin-right: 250px;
}
.community p {
  font-size: 1.7rem;
  width: 80%;
}
.community .communityWhiteStar,
.community .communityOrangeStar,
.community .communityBlackStar {
  position: absolute;
  -webkit-animation: sparkle 1.5s infinite ease-in-out;
          animation: sparkle 1.5s infinite ease-in-out;
}
.community .communityWhiteStar {
  top: 33%;
  right: 15%;
  width: 40px;
}
.community .communityOrangeStar {
  top: 60%;
  right: -3%;
  width: 15px;
}
.community .communityBlackStar {
  bottom: 29%;
  left: 1%;
  width: 20px;
}
.community .communityCircleOne {
  width: 50%;
  height: 45%;
}
.community .communityCircleTwo {
  width: 100%;
  height: 85%;
}
.community .communityCircleThree {
  width: 120%;
  height: 105%;
}
.community .communityLine {
  position: absolute;
  bottom: 18%;
  right: 8%;
}
.community .communityPersonOne,
.community .communityPersonTwo,
.community .communityPersonThree,
.community .communityPersonFour,
.community .communityPersonFive {
  position: absolute;
  -webkit-animation: jump 2.5s infinite;
          animation: jump 2.5s infinite;
  border-radius: 50%;
}
.community .communityPersonOne {
  top: 18%;
  left: 10%;
}
.community .communityPersonTwo {
  top: -4%;
  left: 35%;
}
.community .communityPersonThree {
  top: 9%;
  right: 0%;
}
.community .communityPersonFour {
  bottom: 18%;
  left: 10%;
}
.community .communityPersonFive {
  bottom: 5%;
  right: 10%;
}

.faq {
  position: relative;
  margin: 200px 0;
}
.faq .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  margin: 0 auto;
}
.faq .questionsDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  max-width: 650px;
  border-bottom: solid 1px black;
  margin-left: 400px;
}
.faq .question {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.faq .question p {
  font-size: 1.6rem;
  margin-bottom: 20px;
}
.faq .answer {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}
.faq .answer p {
  font-size: 0.95rem;
  line-height: 140%;
  font-weight: 300;
}
.faq .active .answer {
  max-height: 300px;
}
.faq .minusIcon {
  position: absolute;
  right: 500000px;
}
.faq .active .plusIcon {
  position: absolute;
  right: 500000px;
}
.faq .active .minusIcon {
  position: relative;
  right: 0;
}
.faq h2 {
  margin: 0;
  margin-bottom: 100px;
}
.faq .faqBlackStar,
.faq .faqOrangeStar,
.faq .faqLine {
  position: absolute;
}
.faq .faqBlackStar {
  top: 45%;
  left: 23%;
}
.faq .faqOrangeStar {
  bottom: -15%;
  right: 20%;
  width: 50px;
}
.faq .faqLine {
  bottom: 10%;
  left: 12%;
}
.faq .plusIcon,
.faq .minusIcon {
  color: #f77b21;
}
.faq h3::after {
  top: 6%;
}

.media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  text-align: center;
  margin-top: 400px;
}
.media .logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
  margin: 100px 0;
}
.media .twitter,
.media .facebook,
.media .insta {
  background-color: white;
  padding: 80px;
  border-radius: 150px;
  height: 200px;
  width: 30%;
  position: relative;
}
.media img {
  position: absolute;
  top: 15%;
  right: 28%;
}
.media li {
  list-style: none;
}
.media p {
  font-size: 1.6rem;
  font-weight: 500;
}

#slidebar {
  position: fixed;
  background: #fdf2e5;
  top: 0;
  bottom: 0;
  left: 1000%;
  right: 0;
  width: 100vw;
  height: 100vh;
  z-index: 40;
}
#slidebar a {
  font-size: 6rem;
  font-family: headerFont;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  opacity: 0.3;
  line-height: 90px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#slidebar a:hover {
  opacity: 1;
}
#slidebar .logos {
  margin-top: 160px;
  -webkit-filter: brightness(0%);
          filter: brightness(0%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#slidebar #closeSlide {
  position: absolute;
  right: 23%;
  top: 13%;
  cursor: pointer;
}
#slidebar li {
  list-style: none;
}
#slidebar ul {
  margin-top: 340px;
  margin-left: 250px;
}
#slidebar .slidebarPerson {
  position: absolute;
  bottom: 20%;
  right: 34%;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  -webkit-animation: slideBarJump 2.5s infinite;
          animation: slideBarJump 2.5s infinite;
}
#slidebar .slidebarBlackStar,
#slidebar .slidebarWhiteStar,
#slidebar .slidebarOrangeStar {
  position: absolute;
  -webkit-animation: sparkle 1.5s infinite ease-in-out;
          animation: sparkle 1.5s infinite ease-in-out;
}
#slidebar .slidebarBlackStar {
  bottom: 23%;
  left: 40%;
  width: 15px;
}
#slidebar .slidebarOrangeStar {
  top: 35%;
  right: 43%;
  width: 14px;
}
#slidebar .slidebarWhiteStar {
  top: 50%;
  right: 50%;
  width: 80px;
}

#slidebar.open {
  left: 0;
}

@media (max-width: 1300px) {
  .wrapper {
    width: 60%;
  }
  h2 {
    font-size: 4rem;
    line-height: 80px;
  }
  header h1 {
    font-size: 5rem;
    line-height: 80px;
  }
  header h2 {
    font-size: 1rem;
  }
  header .bannerLine {
    left: 10%;
    top: 30%;
  }
  header .mainGhost {
    width: 60%;
  }
  header .blurredGhostImg1 {
    top: 15%;
    left: 44%;
    width: 10%;
  }
  header .blurredGhostImg2 {
    width: 15%;
  }
  header .bannerCircleOne {
    width: 23%;
    height: 40%;
    -webkit-transform: translate(38%, -18%);
            transform: translate(38%, -18%);
  }
  header .bannerCircleTwo {
    -webkit-transform: translate(6%, -30%);
            transform: translate(6%, -30%);
    width: 36%;
    height: 65%;
  }
  header .bannerCircleThree {
    -webkit-transform: translate(-10%, -35%);
            transform: translate(-10%, -35%);
    width: 50%;
    height: 90%;
  }
  header .bannerBlackStar {
    bottom: 20%;
  }
  header .bannerOrangeStar {
    top: 20%;
  }
  header .airplanePerson {
    left: 0;
  }
  header .chatPerson {
    left: 80%;
    width: 15%;
  }
  .about p {
    font-size: 1.5rem;
  }
  .roadmap .phaseOne {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .roadmap .phaseTwo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .roadmap .phaseOneLeft,
.roadmap .phaseOneRight,
.roadmap .phaseTwoRight,
.roadmap .phaseTwoLeft {
    width: 100%;
  }
  .roadmap .roadmapArrow {
    top: 16%;
    left: 70%;
  }
  .roadmap .phaseOneLeft {
    margin-bottom: 50px;
  }
  .roadmap .phaseTwoRight {
    margin-bottom: 50px;
  }
  .roadmap .phaseOneRight {
    height: 70vh;
  }
  .roadmap .holdingPhone {
    width: 60%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .roadmap .phaseTwoLeft {
    height: 70vh;
  }
  .roadmap .phaseTwoPerson {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .roadmap .phaseTwoPerson {
    width: 40%;
  }
  .community {
    margin-top: 250px;
  }
  .community .communityCircleOne {
    width: 60%;
    height: 70%;
  }
  .community .communityCircleTwo {
    width: 100%;
    height: 115%;
  }
  .community .communityCircleThree {
    width: 120%;
    height: 135%;
  }
  .community .wrapper::before {
    width: 80%;
    height: 90%;
  }
  .community .communityPersonOne {
    top: 13%;
    left: 10%;
  }
  .community .communityPersonTwo {
    top: -19%;
    left: 35%;
  }
  .community .communityPersonThree {
    top: 9%;
    right: 0%;
  }
  .community .communityPersonFour {
    bottom: 1%;
    left: 10%;
  }
  .community .communityPersonFive {
    bottom: -5%;
    right: 10%;
  }
  .community .communityLine {
    bottom: -20%;
  }
  .faq .questionsDiv {
    margin-left: 300px;
  }
  .faq .questionsDiv p {
    font-size: 1.3rem;
  }
  .media p {
    font-size: 1.3rem;
  }
}
@media (max-width: 1135px) {
  header .bannerCircleOne {
    width: 23%;
    height: 40%;
    -webkit-transform: translate(47%, -18%);
            transform: translate(47%, -18%);
  }
  header .bannerCircleTwo {
    -webkit-transform: translate(13%, -30%);
            transform: translate(13%, -30%);
    width: 36%;
    height: 65%;
  }
  header .bannerCircleThree {
    -webkit-transform: translate(-5%, -35%);
            transform: translate(-5%, -35%);
    width: 50%;
    height: 90%;
  }
  header .airplanePerson {
    top: 80%;
    left: -2%;
  }
}
@media (max-width: 960px) {
  .wrapper {
    width: 80%;
  }
  header .bannerCircleOne {
    width: 30%;
    height: 40%;
    -webkit-transform: translate(38%, -18%);
            transform: translate(38%, -18%);
  }
  header .bannerCircleTwo {
    -webkit-transform: translate(3%, -30%);
            transform: translate(3%, -30%);
    width: 50%;
    height: 65%;
  }
  header .bannerCircleThree {
    -webkit-transform: translate(-15%, -35%);
            transform: translate(-15%, -35%);
    width: 70%;
    height: 90%;
  }
  header .airplanePerson {
    top: 80%;
    left: -255%;
  }
  .media {
    margin-top: 100px;
  }
}
@media (max-width: 760px) {
  .wrapper {
    width: 95%;
  }
  header .banner {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  header .banner .mainGhost {
    position: absolute;
    top: 0;
    right: 0;
  }
  .roadmap .phaseOneRight,
.roadmap .phaseTwoLeft {
    height: 40vh;
    width: 50%;
  }
  .roadmap .holdingPhone {
    width: 300px;
  }
  .roadmap .phaseTwoPerson {
    width: 250px;
  }
  .faq .questionsDiv {
    margin-left: 0;
  }
  .faq .faqBlackStar {
    top: 40%;
  }
  .faq .faqOrangeStar {
    width: 30px;
  }
  .faq .faqLine {
    bottom: -10%;
  }
}